@import "../tools/mixins";
@import "../tools/breakpoints";


.app-screen{
  position: relative;
  padding-top: 90px;
  height: 100vh;
  margin-bottom: 115px;
  @media (max-width: $breakpoint-lg) {
    padding-top: 65px;
  }
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 90px;
  }
  &__cell{
    height: calc(100vh - 90px);
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media (max-width: $breakpoint-lg) {
      height: calc(100vh - 65px);
    }
    &-overlay{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .53);
    }
    &-content{
      position: relative;
      z-index: 9;
    }
  }

  &__title{
    text-align: center;
    color: white;
    font-family: 'Russo One',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    padding: 0 45px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-sm) {
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
    }
  }
  &__btn{
    position: relative;
    margin: auto;
    max-width: 380px;
    @media (max-width: $breakpoint-sm) {
      max-width: 300px;
    }
    &:after{
      content: '';
      position: absolute;
      top: 30px;
      right: 70px;
      width: 23px;
      height: 14px;
      background: url(../img/arrow.png) center no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      @include transition;
      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
    span{
      padding-right: 20px;
      @media (max-width: $breakpoint-sm) {
        padding-right: 0;
      }
    }
    &:hover{
      &:after{
        right: 50px;
      }
    }
  }

  .flickity-prev-next-button{
    color: #fff;
    font-size: 45px;
    @media (max-width: $breakpoint-sm) {
      font-size: 35px;
    }
  }
  .flickity-prev-next-button.previous {
    left: 70px;
    @media (max-width: $breakpoint-lg) {
      left: 10px;
    }
  }
  .flickity-prev-next-button.next {
    right: 85px;
    @media (max-width: $breakpoint-lg) {
      right: 15px;
    }
  }
}


.app-about{
  overflow: hidden;
  margin-bottom: 100px;
  &__title{
    margin-bottom: 75px;
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 45px;
    }
  }
  &__img-content{
    position: relative;
    margin-bottom: 45px;
    &:before{
      content: '';
      position: absolute;
      left: -999%;
      right: -999%;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      opacity: 0.24;
      background-color: black;
    }
    &:after{
      content: '2000';
      position: absolute;
      left: 50%;
      top: calc(50% - 10px);
      transform: translate(-50%, -50%);
      color: var(--col-secondary);
      opacity: 0.9;
      font-family: 'Russo One',sans-serif;
      font-size: 100px;
      font-weight: 400;
      line-height: 84px;
      @media (max-width: $breakpoint-sm) {
        font-size: 60px;
      }
    }
  }
  &__txt-content{
    max-width: 780px;
    margin: auto auto 90px;
    @media (max-width: $breakpoint-lg) {
      br{
        display: none;
      }
    }
    @media (max-width: $breakpoint-sm) {
      margin: auto auto 45px;
    }
  }
}

.about-item{
  margin: auto auto 30px;
  &__count{
    width: 115px;
    height: 115px;
    margin: auto auto 15px;
    background: url(../img/about-item.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    line-height: 115px;
    text-align: center;
    color: var(--col-primary);
    font-family: 'Russo One','Open Sans',sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;

  }
  &__title{
    display: block;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
  }
}

.app-product{
  &__title{
    margin-bottom: 60px;
  }
}

.app-delivery{
  padding: 75px 0 140px 0;
  background: url(../img/courier-services.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 125px;
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 90px;
  }
  @media (max-width: $breakpoint-lg) {
    padding: 75px 0;
  }
  &__title{
    margin-bottom: 90px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 45px;
    }
  }
  &__content{
    max-width: 920px;
    margin: auto;
    @media (max-width: $breakpoint-lg) {
      br{
        display: none;
      }
    }
  }
}


.app-client{
  margin-bottom: 125px;
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 90px;
  }
  &__title{
    margin-bottom: 45px;
  }
  &__carousel{
    padding: 0 30px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 0;
    }
  }
  &__cell{
    width: 50%;
    padding: 60px 15px;
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
  &__link{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 200px;
    color: var(--col-primary);
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.client{
  position: relative;
  margin: auto;
  max-width: 465px;
  height: 245px;
  padding: 95px 45px 30px 45px;
  background-color: white;
  box-shadow: 0 1px 24px 3px rgba(0, 0, 0, 0.28);
  @media (max-width: $breakpoint-lg) {
    padding: 75px 30px 30px 30px;
  }
  &__img{
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__title{
    display: block;
    text-align: center;
    color: var(--col-primary);
    font-family: 'Russo One',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &__txt{}
}




.app-cooperation{
  margin-bottom: 90px;
  &__title{
    margin-bottom: 45px;
  }
  &__txt{
    color: black;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 55px;
    max-width: 415px;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      margin-bottom: 30px;

    }
  }
  &__btn{
    max-width: 245px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }
}


.page{
  &__content{
    padding: 100px 0;
    height: 100vh;
  }
  &__wrap{
    position: relative;
  }

  &__title{
    color: var(--col-black);
    font-family: "Open Sans",sans-serif;
    font-size: 380px;
    font-weight: 700;
    line-height: 380px;
    text-align: center;
    margin-bottom: 15px;
    @media (max-width: $breakpoint-lg) {
      font-size: 280px;
      line-height: 280px;
      margin-bottom: 45px;
    }
    @media (max-width: $breakpoint-sm) {
      font-size: 160px;
      line-height: 160px;
    }
  }
  &__subtitle{
    color: var(--col-black);
    font-family: "Open Sans",sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    margin-bottom: 45px;
  }
  &__img{
    position: absolute;
    left: 50%;
    top: 250px;
    transform: translateX(-50%);
    max-width: 215px;
    @media (max-width: $breakpoint-lg) {
      top: 170px;
      max-width: 195px;
    }
    @media (max-width: $breakpoint-sm) {
      top: 100px;
      max-width: 145px;
    }

  }
  &__btn{
    max-width: 400px;
    margin: auto;
  }
}