@import "../tools/mixins";
@import "../tools/breakpoints";


.app-screen{
  position: relative;
  padding-top: 90px;
  height: 100vh;
  @media (max-width: $breakpoint-lg) {
    padding-top: 65px;
  }

  &__cell{
    height: calc(100vh - 90px);
    background: center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    @media (max-width: $breakpoint-lg) {
      height: calc(100vh - 65px);
    }
    &-overlay{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .53);
    }
    &-content{
      position: relative;
      z-index: 9;
    }
  }

  &__title{
    text-align: center;
    color: white;
    font-family: 'Russo One',sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 30px;
  }
  &__btn{
    margin: auto;
    max-width: 380px;
  }
}






.app-delivery{
  padding: 75px 0 140px 0;
  background: url(../img/courier-services.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 125px;
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 90px;
  }
  @media (max-width: $breakpoint-lg) {
    padding: 75px 0;
  }
  &__title{
    margin-bottom: 90px;
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 45px;
    }
  }
  &__content{
    max-width: 920px;
    margin: auto;
    @media (max-width: $breakpoint-lg) {
      br{
        display: none;
      }
    }
  }
}


.app-client{
  margin-bottom: 125px;
  @media (max-width: $breakpoint-sm) {
    margin-bottom: 90px;
  }
  &__title{
    margin-bottom: 45px;
  }
  &__carousel{
    padding: 0 30px;
    margin-bottom: 30px;
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 0;
    }
  }
  &__cell{
    width: 50%;
    padding: 60px 15px;
    @media (max-width: $breakpoint-sm) {
      width: 100%;
    }
  }
  &__link{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 200px;
    color: var(--col-primary);
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
  }
}

.client{
  position: relative;
  margin: auto;
  max-width: 465px;
  height: 245px;
  padding: 95px 45px 30px 45px;
  background-color: white;
  box-shadow: 0 1px 24px 3px rgba(0, 0, 0, 0.28);
  @media (max-width: $breakpoint-lg) {
    padding: 75px 30px 30px 30px;
  }
  &__img{
    position: absolute;
    left: 50%;
    top: -35px;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  &__title{
    display: block;
    text-align: center;
    color: var(--col-primary);
    font-family: 'Russo One',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 20px;
  }
  &__txt{}
}




.app-cooperation{
  margin-bottom: 90px;
  &__title{
    margin-bottom: 45px;
  }
  &__txt{
    color: black;
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 55px;
    max-width: 415px;
    @media (max-width: $breakpoint-md) {
      max-width: 100%;
      margin-bottom: 30px;

    }
  }
  &__btn{
    max-width: 245px;
    @media (max-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
  }
}