@import "../tools/mixins";
@import "../tools/breakpoints";


.btn{
  position: relative;
  display: block;
  outline: none;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  border: 0;
  background-color: transparent;
  backface-visibility: hidden;
}

.btn-primary{
  width: 100%;
  padding: 0;
  height: 75px;
  background-color: var(--col-primary);
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: Montserrat,sans-serif;;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  text-transform: uppercase;
  @include transition;
  backface-visibility: hidden;
  span{
    display: block;
    line-height: 75px;
    @include transition;
  }
  &:hover{
    span{
      transform: translateY(-75px);
    }
  }
}

.btn-share{
  width: 170px;
  padding: 0;
  height: 40px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #d4d4d4;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  font-family: 'Myriad Pro', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--col-black);
  @include transition;
  i{
    position: relative;
    margin-right: 10px;
    top: 2px;
  }
  &:hover{
    box-shadow: 0 0 13px rgba(78, 78, 78, 0.2);
  }
}

.btn-link{
  display: inline-block;
  position: relative;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
  color: var(--col-primary);
  &.--grey{
    color: #a0a0a0;
    &:after{
      color: #a0a0a0;
    }
  }
  &:after{
    content: "\e915";
    font-family: 'icomoon' !important;
    position: absolute;
    top: 1px;
    right: 0;
    font-size: 14px;
    color: var(--col-primary);
    transition: all 0.25s ease;
  }
  &:hover{
    &:after{
      transform: translateX(5px);
    }
  }
  &.--left{
    padding-left: 20px;
    padding-right: 0;
    &:after{
      left: 0;
      right: initial;
      transform: scale(-1);
    }
    &:hover{
      &:after{
        transform: translateX(-5px) scale(-1);
      }
    }
  }
  &.--plus{
    &:after{
      content: "\e91e";
      font-size: 26px;
      top: -4px;
      left: -4px;
    }
    &:hover{
      &:after{
        transform: rotate(90deg);
      }
    }
  }
}

.btn-right{
  margin-right: 0;
  margin-left: auto;
}